{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<title>
{% block title %}
{% endblock title %}
</title>
<link href="{% static 'bootstrap3/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/monokai.css' %}" rel="stylesheet" type="text/css">
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--添加网站icon-->
<link rel="shortcut icon" href="{% static 'images/shorticon/movieicon.png' %}">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    {% block css %}
    {% endblock %}
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static  'js/login.js' %}"></script>
<script src="{% static 'js/jquery.easydropdown.js' %}"></script>
<script src="{% static 'js/add_active.js' %}"></script>
<!--Animation-->
<script src="{% static 'js/wow.min.js' %}"></script>
<link href="{% static 'css/animate.min.css' %}" rel='stylesheet' type='text/css' />
<script>
	new WOW().init();
</script>
</head>
<body>
<div class="header">
		   <div class="col-sm-8 header-left">
					 <div class="logo">
						<a href="{% url 'index' %}"><img src="{% static 'images/logo1.png' %}" alt=""/></a>
					 </div>
					 <div class="menu">
						  <a class="toggleMenu" href="#"><img src="{% static 'images/nav.png' %}" alt="" /></a>
						    <ul class="nav" id="nav">
						    	<li class="base active"><a href="{% url 'index' %}">首页</a></li>
						    	<li class="base"><a href="{% url 'movie_list' %}">电影</a></li>
						    	<li class="base"><a href="#">排行榜</a></li>
						    	<li class="base"><a href="#">联系我们</a></li>
								<div class="clearfix"></div>
							</ul>
							<script type="text/javascript" src="{% static 'js/responsive-nav.js' %}"></script>
				    </div>
				     <!-- start search-->
				      <div class="search-box">
							<div id="sb-search" class="sb-search">
								<form role="search" method="get" action="{% url 'haystack_search' %}">
									<input class="sb-search-input" placeholder="搜索你想要的电影" type="search" name="q" id="search">
{#									<input class="sb-search-submit" type="submit" value="">#}
                                    <button type="submit"><span class="sb-icon-search"> </span></button>
								</form>
							</div>
						</div>
						<!----search-scripts---->
						<script src="{% static 'js/classie.js' %}"></script>
						<script src="{% static 'js/uisearch.js'%}"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
						<!----//search-scripts---->
	    		    <div class="clearfix"></div>
	    	    </div>
	            <div class="col-sm-4 header_right">
	    		      <div id="loginContainer"><a href="{% url 'login' %}" id="loginButton"><img src="{% static 'images/login.png' %}"><span>登录</span></a>
			             </div>
		                 <div class="clearfix"></div>
	                 </div>
	                <div class="clearfix"></div>
   </div>
    {% block content %}

    {% endblock %}
{#   <div class="footer">#}
{#   	<div class="container">#}
{#	  <div class="footer_grids">#}
{#	     <div class="footer-grid">#}
{#			<h4>Ipsum Quis</h4>#}
{#			<ul class="list1">#}
{#				<li><a href="contact.html">Contact</a></li>#}
{#				<li><a href="#">Mirum est</a></li>#}
{#				<li><a href="#">Placerat facer</a></li>#}
{#				<li><a href="#">Claritatem</a></li>#}
{#				<li><a href="#">Sollemnes </a></li>#}
{#			</ul>#}
{#		  </div>#}
{#		  <div class="footer-grid">#}
{#			<h4>Quis Ipsum</h4>#}
{#			<ul class="list1">#}
{#				<li><a href="#">Placerat facer</a></li>#}
{#				<li><a href="#">Claritatem</a></li>#}
{#				<li><a href="#">Sollemnes </a></li>#}
{#				<li><a href="#">Claritas</a></li>#}
{#				<li><a href="#">Mirum est</a></li>#}
{#			</ul>#}
{#		  </div>#}
{#		  <div class="footer-grid last_grid">#}
{#			<h4>Follow Us</h4>#}
{#			<ul class="footer_social wow fadeInLeft" data-wow-delay="0.4s">#}
{#			  <li><a href=""> <i class="fb"> </i> </a></li>#}
{#			  <li><a href=""><i class="tw"> </i> </a></li>#}
{#			  <li><a href=""><i class="google"> </i> </a></li>#}
{#			  <li><a href=""><i class="u_tube"> </i> </a></li>#}
{#		 	</ul>#}
{#		 	<div class="copy wow fadeInRight" data-wow-delay="0.4s">#}
{#              <p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>#}
{#	        </div>#}
{#		  </div>#}
{#		  <div class="clearfix"> </div>#}
{#	   </div>#}
{#      </div>#}
{#   </div>#}
{% block js %}
{% endblock %}
</body>
</html>